@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flock-title {
    display: flex;
    height: 200px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 100px;
    line-height: 1;
    letter-spacing: 20px;
}

@media only screen and (max-width: 720px) {
    .flock-title {
        font-size: 48px;
        height: 120px;
    }
}

.footer-text {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
  }