@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title-block {
    display: flex;
    height: 150px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 100px;
    line-height: 1;
    letter-spacing: 20px;
}

.col {
    flex: 1;
    position: relative;
}

.flock-title {
    /* Manually centering title to compensate font. */
    position: relative;
    left: 0.5vw;
}

.flock-i {
    height: 90%;
    width: auto;
    shape-rendering: crispEdges;
}

.flock-text {
    display: inline;
}

.flock-image-wrapper {
    display: inline-flex;
    align-items: center;
    height: 1em;
    padding-right: 10px;
}

.footer {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.about-button {
    display: block;
    background: black;
    height: auto;
    width: auto;
    border-radius: 5px;
    border-width: 0.5px;
    /* border: none; */
    padding: 5px 20px 5px 20px;
    font-size: 28px;
    margin: 15px;
}

.about-button:hover {
    background: #2E3A59;
}

button:active {
    border-style: outset;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

@media only screen and (max-width: 720px) {
    .title-block {
        font-size: 38px;
        height: 70px;
    }

    .flock-title {
        left: 2.5vw;
    }

    .about-button {
        margin-top: 30px;
    }
}
